###############################################################################
# Backstage minimal app ignores
###############################################################################
node_modules/
dist/
.cache/
coverage/
*.log
/.env.local

# Temporary root scripts created by assistants
/tmp-*.sh
